@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
/*google.com/fonts*/
@font-face
{
	font-family: 'FontLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

/* ----- CONFIGURAÇÕES GERAIS -----*/

body
{
	background: #cccccc;
	color: rgba(0,0,0,1);
	font-family: Arial, sans-serif;/*Usar arial ou qualquer fonte sem serifa*/
}

div#interface
{
	width: 900px;
	background: #ffffff;
	margin: -20px auto 0px auto;/*Margem: Cima, Direita, Baixo, Esquerda*/
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);/*sombra: deslocamento lateral, vertical, espalhamento, cor*/
	padding: 10px;/*É possível descrever cada lado colocando "10px 10px 10px 10px"*/
}

p
{
	text-align: justify;
	text-indent: 50px;

}

a
{
	color: #606060;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}

/* ----- CABEÇALHO -----*/

header#cabecalho
{
	border-bottom: 1px #606060 solid;/*dashed, inset, outset, solid, dotted*/
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;/*".." serve pra voltar de pasta*/
}

header#cabecalho h1
{
	font-family: 'FontLogo', sans-serif;
	font-size: 30px;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;/*Margem interna*/
	margin-bottom: 0px;/*margem externa*/
}

header#cabecalho h2
{
	font-family: 'Titillium Web', sans-serif;
	color: #888888;
	font-size: 15;
	padding: 0px;
	margin-top: 0px;
}

header#cabecalho img#icone
{
	position: relative;
	top: -35px;
	left: 740px;
}/*Feito diferente da aula: Colocado como relativo e realocado para não ter mais problema com o tamanho da janela do navegador*/

/* ----- IMAGENS -----*/

figure.foto-legenda
{
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img /*Se ajusta ao tamanho datela do navegador*/
{
	width:100%;
	height:100%;


}

figure.foto-legenda figcaption
{
	opacity: 0;
	position: absolute;/*Faz ficar por cima da imagem*/
	top: 0px;
	background-color: rgba(0,0,0,0.4);
	color: white;
	width: 100%;
	height:100%;
	padding: 10px;/*Cria espaço dentro da legenda*/
	box-sizing: border-box;/* Trava a box na borda*/
	transition: opacity 1s;

}

figure.foto-legenda:hover figcaption
{
	opacity: 1;
}

/* ----- MENU -----*/

nav#menu ul
{
	list-style: none;
	text-transform: uppercase;/*lowercase*/
	position: absolute;
	top: -18px;
	center: 0px;
	padding-left: 270px;
	/*Centralizar e criar o padding é para solucionar o problema de descentralização que o menu tinha, onde só tinha seu left, e a posição mudava de acordo com o tamanho da janela do navegador*/
}

nav#menu li
{
	display: inline-block;/*lista horizontal*/
	background-color: #dddddd;
	padding: 10px;/*Espaço dentro do li*/
	margin: 2px;/*Espaço fora do li*/
	transition:background 1s;/*Só com "background-color 1s" funcionaria*/
}

nav#menu h1
{
	display: none;
}

nav#menu li:hover /*Enquanto o mouse passar por cima*/
{
	background:#606060;
}

nav#menu a
{
	color: #000000;
	text-decoration: none;/*Tirar as linhas dos links dos menus*/

}

nav#menu a:hover
{
	color: white;
	text-decoration: underline;
}

/* ----- DIVISÕES DO CORPO -----*/

section#corpo
{
	display: block;/*Mostra como um bloco*/
	width: 520px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}

article#noticiaprincipal h2
{
	font-size: 12pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 3px 5px 3px;/*margem pra cima e pra baixo*/
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1
{
	font-family: 'FontLogo';
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;/*Para deixar o que vem em baixo mais perto*/

}

header#cabecalho-artigo h2
{
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}

header#cabecalho-artigo h3
{
	font-size: 11pt;
	color: #606060;	
	margin-top: 5px;
}
.direita
{
	text-align: right;
}

aside#lateral
{
	display: block;
	width: 350px;
	float: right;
	background-color: #d0d0d0;
	padding: 3px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);/*sombra: deslocamento lateral, vertical, espalhamento, cor*/
}

aside#lateral h1
{
	font-family: 'FontLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin: 10px 0px 0px 3px;

}

aside#lateral h2
{
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 5px;
	
}

/* ----- RODAPÉ -----*/

footer#rodape
{
	clear: both;
	border-top: 1px solid #606060;
	font-size: 11pt;
	font-style: italic;
}

footer#rodape p
{
	text-align: center;
}

/* ----- TABELA -----*/

table#tabelaspec
{
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto; /*Centralizar tabela*/
	margin-right: auto;

}

table#tabelaspec td
{
	border: 1px solid #606060;
	padding: 10px;

}

table#tabelaspec td.cd
{
	text-align: left;
	background-color: #d0d0d0;
}

table#tabelaspec td.ce
{
	text-align: right;
	background-color: #606060;
	color: #ffffff;
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec caption
{
	color: #888888;
	font-size: 13pt;
	font-weight: bold;

}

table#tabelaspec caption span
{
	display: block;
	float: right;
	font-size: 8pt;
	margin-top: 10px;
}


/*Vídeos*/

video#video2
{
	display: block;
	width: 350px;
}