@charset "UTF-8";

div#tv-radio
{
	width: 900px;
	height: 580px;
	margin: auto;/*Centralizado dentro do DIV*/
	background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica
{
	display: block;/*transforma em um bloco a ser movido*/
	position: relative;/*faz sua posição ser relativa a onde está dentro(no caso está dentro de tv-radio)*/
	left:575px; 
	top: 505px;
}

video#filme
{
	display: block;
	position: relative;
	left: 90px; 
	top: 85px;
	width: 440px

}